      html,
      body {
        font-family: "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

     /* Navigation wrapper */
    .navwrapper {
        top: 0;
        left: 0;
        height: 0%;
        width: 320px;
        max-width: 320px;
        position: fixed;
        z-index: 1;
        visibility: hidden;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 65px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Navigation visibility class */
    .navwrapper.open {
        height: 100%;
        visibility: visible;
    }

    /* menu toggler */
    .burger {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    .burger:hover {
        cursor: pointer;
    }

    /* google map container */
    #map {
        bottom:0px;
        height: 100%;
        left: 0px;
        position: absolute;
        right: 0px;
    }


